<section class=" bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
    <div class="flex items-center mb-6 text-2xl font-semibold  text-white">
      <img class="w-8 h-8 mr-2" src="/assets/salesAppLogo.svg" alt="logo">
      Sales System
    </div>
    <div
      class="w-full  rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-gray-800 border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight  md:text-2xl text-white">
          Sign in to your account
        </h1>
        <form class="space-y-4 md:space-y-6" [formGroup]="loginForm">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium  text-white">Your email</label>
            <input type="email" formControlName="user" id="email"
              class=" border   sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
              placeholder="name@company.com" required="">
          </div>
          @if(isFieldValid("user")){
          <span class="text-red-500">
            {{ getFieldError("user") }}
          </span>
          }
          <div>
            <label for="password" class="block mb-2 text-sm font-medium  text-white">Password</label>
            <input type="password" formControlName="password" id="password" placeholder="••••••••"
              class=" border   sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
              required="">
          </div>
          @if(isFieldValid("password")){
          <span class="text-red-500">
            {{ getFieldError("password") }}
          </span>
          }
          @if (wrongPassword) {
          <div class="text-red-500">
            <span>User or password invalid</span>
          </div>
          }


          <button type="button" class="text-white  font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 w-full"
            (click)="login()">Login</button>
          <div class="flex items-center justify-end">
            <a href="#" class="text-sm font-medium text-primary-600 hover:underline text-primary-500">Forgot
              password?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
