<div class="animate-pulse flex justify-between" >
  <div class="z-50 flex flex-column gap-4 sm:flex-row flex-wrap items-center content-center justify-between pb-10">
    <div>
      <button disabled
        class="inline-flex items-center bg-gray-300 rounded-lg text-sm px-3 py-1.5">
        <div class="w-3 h-3 bg-gray-400 rounded me-3"></div>
        <div class="w-16 h-4 bg-gray-400 rounded"></div>
        <div class="w-2.5 h-2.5 ms-2.5 bg-gray-400 rounded"></div>
      </button>
    </div>
  </div>
  <div class="z-50 flex flex-column gap-4 sm:flex-row flex-wrap items-center content-center justify-between pb-10">
    <div>
      <button disabled
        class="inline-flex items-center bg-gray-300 rounded-lg text-sm px-3 py-1.5">
        <div class="w-28 h-4 bg-gray-400 rounded"></div>
      </button>
    </div>
  </div>
</div>


<div class="animate-pulse">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 ">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">
            <div class="h-4 bg-gray-400 rounded w-3/4"></div>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">
            <div class="h-4 bg-gray-400 rounded w-3/4"></div>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">
            <div class="h-4 bg-gray-400 rounded w-3/4"></div>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">
            <div class="h-4 bg-gray-400 rounded w-3/4"></div>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">
            <div class="h-4 bg-gray-400 rounded w-3/4"></div>
          </div>
        </th>

      </tr>
    </thead>
    <tbody>
      <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <!-- Repite para cada celda -->
      </tr>
      <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <!-- Repite para cada celda -->
      </tr>
      <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <!-- Repite para cada celda -->
      </tr>
      <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <!-- Repite para cada celda -->
      </tr>
      <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <!-- Repite para cada celda -->
      </tr>
      <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <!-- Repite para cada celda -->
      </tr>
      <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <!-- Repite para cada celda -->
      </tr>
      <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <!-- Repite para cada celda -->
      </tr>
      <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <td class="px-6 py-4">
          <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        </td>
        <!-- Repite para cada celda -->
      </tr>
      <!-- Repite para cada fila -->
    </tbody>
  </table>
</div>
<div class="animate-pulse">
  <nav aria-label="Page navigation example" class="mt-4 flex justify-center w-full flex-wrap gap-5 ">
    <ul class="flex items-center -space-x-px h-10 text-base">
      <li>
        <a class="flex items-center justify-center px-4 h-10 ms-0 leading-tight dark:bg-gray-700 rounded-s-lg">
          <div class="w-7 h-6 bg-gray-400 rounded"></div>
        </a>
      </li>
      <li>
        <a class="flex items-center justify-center px-4 h-10 ms-0 leading-tight dark:bg-gray-700 ">
          <div class="w-6 h-6 bg-gray-400 rounded"></div>
        </a>
      </li>

      <li class="hidden sm:block">
        <a  class="flex items-center justify-center px-4 h-10 leading-tight dark:bg-gray-700">
          <div class="w-5 h-5 bg-gray-400 rounded"></div>
        </a>
      </li>
      <li class="hidden sm:block">
        <a class="flex items-center justify-center px-4 h-10 leading-tight dark:bg-gray-700">
          <div class="w-5 h-5 bg-gray-400 rounded"></div>
        </a>
      </li>
      <li class="hidden sm:block">
        <a class="flex items-center justify-center px-4 h-10 leading-tight dark:bg-gray-700">
          <div class="w-5 h-5 bg-gray-400 rounded"></div>
        </a>
      </li>
      <li class="hidden sm:block">
        <a class="flex items-center justify-center px-4 h-10 leading-tight dark:bg-gray-700">
          <div class="w-5 h-5 bg-gray-400 rounded"></div>
        </a>
      </li>
      <li class="hidden sm:block">
        <a class="flex items-center justify-center px-4 h-10 leading-tight dark:bg-gray-700">
          <div class="w-5 h-5 bg-gray-400 rounded"></div>
        </a>
      </li>


      <li>
        <a class="flex items-center justify-center px-4 h-10 ms-0 leading-tight dark:bg-gray-700 ">
          <div class="w-6 h-6 bg-gray-400 rounded"></div>
        </a>
      </li>
      <li>
        <a class="flex items-center justify-center px-4 h-10 ms-0 leading-tight dark:bg-gray-700 rounded-e-lg">
          <div class="w-7 h-6 bg-gray-400 rounded"></div>
        </a>
      </li>
    </ul>
  </nav>
</div>
