input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Add custom styles for dark mode */

  input[type="number"] {

  }

input[type="number"] {
  position: relative;
}

input[type="number"]::before {
  content: '▲';
  position: absolute;
  right: 4px;
  top: 2px;
  font-size: 0.6em;
  color: #999;
  cursor: pointer;
}

input[type="number"]::after {
  content: '▼';
  position: absolute;
  right: 4px;
  bottom: 2px;
  font-size: 0.6em;
  color: #999;
  cursor: pointer;
}
