<nav aria-label="Page navigation example" class="mt-4 flex justify-center w-full flex-wrap gap-5 ">
  <ul class="flex items-center -space-x-px h-10 text-base" [ngClass]="{'hidden': totalItems <= itemsPerPage}">
    <li>
      <a [ngClass]="{
          'cursor-not-allowed': currentPage === 1,
          'pointer-events-none': currentPage === 1,
          'opacity-50 ': currentPage === 1,
          'cursor-pointer': currentPage !== 1
        }" (click)="navigateToFirstPage()"
        class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none">
        <span class=" sr-only">First</span>
        <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m17 16-4-4 4-4m-6 8-4-4 4-4" />
        </svg>
      </a>
    </li>

    <li>
      <a [ngClass]="{
          'cursor-not-allowed': currentPage === 1,
          'pointer-events-none': currentPage === 1,
          'opacity-50 ': currentPage === 1,
          'cursor-pointer': currentPage !== 1
        }" (click)="navigateToPreviousPage()"
        class="cursor-pointer flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        <span class="sr-only">Previous</span>
        <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 1 1 5l4 4" />
        </svg>
      </a>
    </li>

    @if (maxPages>5) {

    @for (item of pageRange; track item;let i = $index; let last=$last){
    <li>
      <a [id]="item"
        class="flex cursor-pointer items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        (click)="navigateToPage(item)" [ngClass]="{'active': item === currentPage}">
        {{item}}
      </a>
    </li>
    }

    }@else {

    @for (page of pageNumbers; track page;let i = $index; let last=$last){
    <li class="hidden sm:block">
      <a [id]="page"
        class="flex cursor-pointer items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        (click)="navigateToPage(page)" [ngClass]="{'active': page === currentPage}">
        {{page}}
      </a>
    </li>
    }}

    <li>
      <a (click)="navigateToNextPage()" [ngClass]="{
          'cursor-not-allowed': currentPage === maxPages,
          'pointer-events-none': currentPage === maxPages,
          'opacity-50 ': currentPage === maxPages,
          'cursor-pointer': currentPage !== maxPages
        }"
        class="cursor-pointer flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300   hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        <span class="sr-only">Next</span>
        <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 9 4-4-4-4" />
        </svg></a>
    </li>
    <li class="">
      <a [ngClass]="{
          'cursor-not-allowed': currentPage === maxPages,
          'pointer-events-none': currentPage === maxPages,
          'opacity-50 ': currentPage === maxPages,
          'cursor-pointer': currentPage !== maxPages
        }" (click)="navigateToLastPage()"
        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">

        <span class="sr-only">Last</span>
        <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m7 16 4-4-4-4m6 8 4-4-4-4" />
        </svg>
      </a>
    </li>
  </ul>

  <div class="flex flex-col w-fit items-center">
    <form class="max-w-sm mx-auto" [formGroup]="itemsXPageForms">
      <select formControlName="itemsXPage" (change)="setItemsPerPage()"
        class=" bg-gray-50 border border-gray-300 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-00 dark:focus:ring-blue-500 dark:focus:border-blue-500">
        
        @for (item of rowsPerPageOptions; track item;let f=$first) {
        <option value="{{item}}" class="text-gray-300" >{{item}}</option>
        }
      </select>
    </form>
  </div>

</nav>
