<nav aria-label="Page navigation example" class="mt-4 flex justify-center w-full flex-wrap gap-5 ngcl z-10"
  [ngClass]="{'hidden': totalItems <= 0}">
  <ul class="flex items-center  h-12 text-base z-10" [ngClass]="{'hidden': totalItems <= itemsPerPage}">
    <li>
      <a [ngClass]="{
          'cursor-not-allowed': currentPage === 1,
          'pointer-events-none': currentPage === 1,
          'opacity-30 ': currentPage === 1,
          'cursor-pointer': currentPage !== 1
        }" (click)="navigateToFirstPage()"
        class="flex items-center justify-center px-4 h-12  leading-tight text-gray-500 bg-white    rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none">
        <span class=" sr-only">First</span>
        <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m17 16-4-4 4-4m-6 8-4-4 4-4" />
        </svg>
      </a>
    </li>

    <li>
      <a [ngClass]="{
          'cursor-not-allowed': currentPage === 1,
          'pointer-events-none': currentPage === 1,
          'opacity-30 ': currentPage === 1,
          'cursor-pointer': currentPage !== 1
        }" (click)="navigateToPreviousPage()"
        class="cursor-pointer flex items-center justify-center px-4 h-12 leading-tight text-gray-500 bg-white   hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        <span class="sr-only">Previous</span>
        <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 1 1 5l4 4" />
        </svg>
      </a>
    </li>

    @if (maxPages>5) {

    @for (item of pageRange; track item;let i = $index; let last=$last){
    <li>
      <a [id]="item"
        class="flex cursor-pointer items-center justify-center px-4 h-12 leading-tight text-gray-500 bg-white   hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        (click)="navigateToPage(item)" [ngClass]="{'active': item === currentPage}">
        {{item}}
      </a>
    </li>
    }

    }@else {

    @for (page of pageNumbers; track page;let i = $index; let last=$last){
    <li class="hidden sm:block">
      <a [id]="page"
        class="flex cursor-pointer items-center justify-center px-4 h-12 leading-tight text-gray-500 bg-white   hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        (click)="navigateToPage(page)" [ngClass]="{'active': page === currentPage}">
        {{page}}
      </a>
    </li>
    }}

    <li>
      <a (click)="navigateToNextPage()" [ngClass]="{
          'cursor-not-allowed': currentPage === maxPages,
          'pointer-events-none': currentPage === maxPages,
          'opacity-30 ': currentPage === maxPages,
          'cursor-pointer': currentPage !== maxPages
        }"
        class="cursor-pointer flex items-center justify-center px-4 h-12 leading-tight text-gray-500 bg-white     hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        <span class="sr-only">Next</span>
        <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 9 4-4-4-4" />
        </svg></a>
    </li>
    <li class="">
      <a [ngClass]="{
          'cursor-not-allowed': currentPage === maxPages,
          'pointer-events-none': currentPage === maxPages,
          'opacity-30 ': currentPage === maxPages,
          'cursor-pointer': currentPage !== maxPages
        }" (click)="navigateToLastPage()"
        class="flex items-center justify-center px-4 h-12 leading-tight text-gray-500 bg-white   rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">

        <span class="sr-only">Last</span>
        <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m7 16 4-4-4-4m6 8 4-4-4-4" />
        </svg>
      </a>
    </li>
  </ul>


  <div class="flex  w-fit items-center z-10">
    <shared-dropdown [dropdownValues]="rowsPerPageOptions" [selectedValue]="itemsPerPage" (selectedValueChange)="setItemsPerPage($event)"></shared-dropdown>
  </div>


</nav>
