<a type="button" [routerLink]="['/sales/add']"
  class="cursor-pointer text-white w-fit flex gap-2  bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-4 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
  <span class="my-auto">Add </span>
  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
    fill="currentColor" viewBox="0 0 24 24">
    <path fill-rule="evenodd"
      d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm11-4.2a1 1 0 1 0-2 0V11H7.8a1 1 0 1 0 0 2H11v3.2a1 1 0 1 0 2 0V13h3.2a1 1 0 1 0 0-2H13V7.8Z"
      clip-rule="evenodd" />
  </svg>

</a>

<div class="flex flex-col lg:flex-row gap-2 lg:justify-between lg:mt-auto pb-5"
  [ngClass]="{'hidden': tableItems.length === 0}">
  <div class="lg:mt-auto">
    <shared-search-bar [placeholder]="placeholder" (searchEmiter)="search($event)"> </shared-search-bar>
  </div>

  <div class="flex flex-col lg:flex-row gap-2 lg:justify-between  lg:mt-auto  ">
    <div class="flex gap-2 gap-2:lg ">
      <div class="flex flex-col  gap-1">
        <label for="" class="pl-2 text-base font-semibold text-gray-800 dark:text-gray-400">From</label>
        <shared-date-picker (dateEmiter)="setStartDate($event)" [date]="startDate"></shared-date-picker>
      </div>
      <div class="flex flex-col  gap-1">
        <label for="" class="pl-2 text-base font-semibold text-gray-800 dark:text-gray-400">To</label>
        <shared-date-picker (dateEmiter)="setEndDate($event)" [date]="endDate"></shared-date-picker>
      </div>
      <button (click)="filterByDate()"
        class="flex items-center mt-auto h-fit w-fit px-2 py-3 font-medium  text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
        <svg class="w-5 h-5 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path d="M5.05 3C3.291 3 2.352 5.024 3.51 6.317l5.422 6.059v4.874c0 .472.227.917.613 1.2l3.069 2.25c1.01.742 2.454.036 2.454-1.2v-7.124l5.422-6.059C21.647 5.024 20.708 3 18.95 3H5.05Z"/>
        </svg>

      </button>
    </div>



  </div>
  <div class="flex  mt-auto">
    <label for="" class="text-base font-semibold text-gray-800 dark:text-gray-400"> </label>
    <shared-sort-by [sortBy]="sortBy" [allowedValuesArray]="allowedValuesArray"> </shared-sort-by>
  </div>
</div>


@if (!itemsEmpty) {
@if (loading) {
<shared-skeleton-table></shared-skeleton-table>
}@else {
<shared-table [tableTitle]="'Sales'" [tableColumns]="columns" [tableData]="tableItems"
  [tableRouterLink]="'sales/detail'" (action)="doAction($event)" [tableShowDelete]="showDelete"></shared-table>
}
<shared-paginator [totalItems]="totalItems" [rowsPerPageOptions]="itemsPerPageOptions"></shared-paginator>

}@else {
<div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300"
  role="alert">
  <span class="font-medium">Warning alert!</span> There are no elements to show in the table.
</div>
}
