<div class="w-full">
  <label for="table-search" class="sr-only">Search</label>
  <div class="relative flex w-full ">
    <div class="z-20 w-full absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
      <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" [ngClass]="{ 'dark:text-red-500': error }" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <input type="text" id="table-search" [value]="value"
      class="relative w-full  p-2 ps-10 dark:bg-gray-800 dark:border-gray-800 px-4 dark:placeholder-gray-500 dark:text-gray-400 py-2.5 text-base text-gray-900 rounded-lg font-normal border border-gray-200 dark:focus:ring-green-500 dark:focus:border-green-500"
    [ngClass]="{'dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 dark:focus:ring-red-500 dark:focus:border-red-500': error}"
      placeholder="{{placeholder}}" #txtInput (keyup)="onKeyPress(txtInput.value)">
  </div>
</div>
